<%# copied off github devise's wiki for adding sign in/out links to Collisterator %>
<%# views/devise/menu/_login_items.html.erb %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>