
%h2 Hello!

%p 
  Someone has shared a list with you on Collisterator. Go to:
  = link_to "your shared list", item_url(@item)
  to see your list now. 

%p 
  Cheers! 
  %br
  Collisterator's Friendly Notification System. :)
