Welcome to collisterator.com, #{@user.email}!

You have successfully signed up for Collisterator, the collaborative list-making service! Log in to edit your profile and start making lists. 

Thanks for joining. :)
