Welcome to collisterator.com, #{@user.email}!

You have successfully signed up for Collisterator, the collaborative list-making service! Log in and start making lists now!

Thanks for joining. :)
