Welcome to Collisterator! 

You have successfully signed up for Collisterator. As a new user, you can create 
any number of lists using the templates found on the front page, and share these
lists with all your collaborators! Sign in at #{root_url} to get started!

Many thanks,
the Collisterator team
