%h1 Collisterator

- @list_types.each do |list_type|
	%p
		=link_to list_type_path(list_type) do
			= list_type.name
		|
		=link_to 'Edit', list_type
		|
		%a{ :href=> list_type_path(list_type), :class => 'new_list', :id => list_type.id}
			New List
			
%br

:javascript
	Collisterator.createNewList();

= link_to 'New List type', new_list_type_path

