%h1 Collisterator

- @list_types.each do |list_type|
	%ul	
		%li
			=link_to list_type_path(list_type) do
				= list_type.name
		%li
			=link_to 'Edit', list_type
		%li{:id => list_type.id}
			%a{new_list_html_attrs(list_type.id)} 
				New List

:javascript
	Collisterator.bindCreateNewList();

= link_to 'New List type', new_list_type_path