- if current_user && current_user.role?("admin")
  - @admin = true
- else
  - @admin = false
%div.panel.panel-default
  %div.panel-heading
    %h2 Featured List Types
  %div.panel-body
    %table.table.table-hover
      - @list_types.each do |list_type| 
        - if list_type.featured
          = render partial: "row", locals: {list_type: list_type, admin: @admin}
        - else
          - if @admin
            = render partial: "row", locals: {list_type: list_type, admin: @admin}

:javascript
  Collisterator.bindCreateNewList();

