= @item = Item.find(1)

%h1 Collisterator!


%table{:style => 'display: inline-block'}
	%tr
		%td
			= @item.id
		%td.editable{:id => 1}
			= @item.data

	

#collisterator_tree

%br/

= link_to 'New Item', new_item_path

:javascript
	Collisterator.buildTree(-1);
