<h1>Collisterator!</h1>

<div id="collisterator_tree">


</div>



<br />

<%= link_to 'New Item', new_item_path %>

<script type="text/javascript">

$.getJSON(
    '.',
    function(data) {
        $('#collisterator_tree').tree({
			data: data
		});
    }
);
</script>