<h1>Collisterator!</h1>


<div id="collisterator_tree"></div>



<br />

<%= link_to 'New Item', new_item_path %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#collisterator_tree").jstree({
				core : { "animation" : 100 },
				themes : { "theme" : "classic", "icons" : false, "dots" : true },
				"json_data" : {
					"ajax" : { 
						"url" : "/jstree.json",
						"data" : function(m) { 
							return { id : m.attr ? m.attr("id") : 0 };
						}
					}
				},
				plugins : ["themes", "json_data", "ui" ]
	}).bind("select_node.jstree", function(e, data) {
		if(jQuery.data(data.rslt.obj[0], "href")) 
		{
			window.location=jQuery.data(data.rslt.obj[0], "href");
		}
		else 
		{
			alert("No href defined for this element.");
		}
	
	})
	});
</script>