<h1>Collisterator!</h1>


<div id="collisterator_tree"></div>



<br />

<%= link_to 'New Item', new_item_path %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#collisterator_tree").jstree({
				core : { "html_titles" : true},
				themes : { "theme" : "classic" },
				"json_data" : {
					"ajax" : { 
						"url" : "/items.json",
						"data" : function(m) {
								var html_data = m.attr								
								return { id : html_data ? m.attr("id") : 0 };
							}
					}
				},
				plugins : ["themes", "json_data"]
	})
	});
</script>
